.server-status {
  i {
    float: right;
    &.spinner-icon {
      position: absolute;
      top: 5px;
      right: 0;
    }
  }
  .action-buttons {
    margin-top: 10px;
  }
}

.details-content {
  table {
    width: 100%;
    th {
      padding: 0 15px;
    }
    td {
      text-align: center;
    }
  }
}
