.logs-container {
  padding-top: 10px;
  i {
    margin-left: 15px;
    &.collapse {
      font-size: 1.3em;
    }
  }
  pre {
    max-height: 30vh;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 0;

    > .list {
      min-height: 30vh;
    }
  }
  .collapsed {
    height: 0;
    overflow: hidden;
    > .list {
      display: none
    }
  }
  bottom: 0;
  background: #2b303b;
  color: #fff;
  margin: 0;

  div.list {
    height: 100%;
    margin: 0;
    > div {
      &:before {
        content: "$ ";
      }
      > span {
        &.level {
          &.ERROR {
            color: red;
          }
          &.WARNING {
            color: orange;
          }
        }
        &.time {
          color: #92e6ff;
        }
        &.module {
          color: #62e63b;
        }
        &.message {
          color: #fff;
        }
      }

    }
  }
}
