.loginGrid {
  height: 100vh;
  .login {
    margin: 0 auto !important;
    width: 40vw !important;
    min-width: 300px !important;
    max-width: 550px !important;
    .action-buttons {
      border: none;
      box-shadow: none;
    }
  }
}
