.homepage {
  .logo {
    font-size: 40px;
    color: #dadada;
    vertical-align: 50%;
    display: block;
    width: 164px;
    margin: calc(50vh - 53px) auto 0;
    font-weight: bold;
    text-shadow: -1px 0 #b5b5b5, 0 1px #b5b5b5, 1px 0 #b5b5b5, 0 -1px #b5b5b5;
  }
}
