.main {
  height: 100%;
  > div.grid {
    height: 100%;
    .logs {
      padding: 14px 0!important;
    }
  }
  .button-spinner {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
  }
}
