.main {
  height: calc(100% - 41px);
  > div.grid {
    height: 100%;
    .sidebar-menu {
      padding: 0!important;
      > .menu {
        border-radius: 0;
        height: 100%;
      }
    }
  }
  .button-spinner {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
  }
  .top-menu {
    border-radius: 0!important;
    border-bottom: 1px solid #2d2e2f!important;
  }
  .logs {
    padding: 0!important;
    bottom: 0;
    position: fixed!important;
    width: 100%;
  }
}
