.main {
  height: calc(100% - 41px);
  padding-bottom: 40px;
  > div.grid {
    height: 100%;
    .sidebar-menu {
      padding: 0 !important;
      .menu {
        border-radius: 0;
        height: 100%;
        position: fixed;
        overflow: hidden;
        max-width: 18.5vw;
      }
    }
  }
  .button-spinner {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
  }
  .top-menu {
    height: 40px;
    border-radius: 0 !important;
    border-bottom: 1px solid #2d2e2f !important;
  }
  .logs {
    padding: 0 !important;
    bottom: 0;
    position: fixed !important;
    width: 100%;
    z-index: 99999;
  }

  .main-content {
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    box-shadow: none !important;
    > div {
      padding: 1px;
    }
    .bottom-pad {
      padding-bottom: 300px;
    }
  }
}
